{% extends "base.html" %}
{% block title %}Log in - SafePoint{% endblock %}
{% block body %}
<div id="login-panel">
    <h1>SafePoint</h1>

    <h2 class="banner">Sign in to your account</h2>

    <div class="card signin-card">
        <div class="user-icon"></div>
        <form class="form-panel" method="post" action="{{ url_for('do_login') }}">
            <input id="login-email" type="email" placeholder="Enter your email" autofocus="true" name="email">
            <input id="login-password" type="password" placeholder="Enter your password" name="password">
            <button type="submit" class="action">Sign in</button>
        </form>
    </div>

    <a href="">Create account</a>
</div>
{% endblock body %}
