{% extends "base.html" %}
{% block title %}Sign up - SafePoint{% endblock %}
{% block body %}
<div id="login-panel">
    <h1 class="title"><span class="highlight">Safe</span>Point</h1>

    <h2 class="banner">Create a new account</h2>

    <div class="card signin-card">
        <div class="user-icon"></div>

        {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
        <div class="alert">
            {% for msg in errors %}
            <p>{{ msg }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <form class="form-panel" method="post" action="{{ url_for('do_signup') }}">
            <input id="login-email" type="email" placeholder="Enter your email" autofocus="true" name="email">
            <input id="login-password" type="password" placeholder="Enter your password" name="password">
            <input id="login-password-again" type="password" placeholder="Enter your password again"
                   name="confirm_password">
            <button type="submit" class="action">Sign up</button>
        </form>
    </div>
</div>
{% endblock body %}