/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

html, body { height: 100%; margin: 0; padding: 0; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  margin: 0 auto 25px;
  padding: 20px 25px 30px;
  width: 304px;

  -moz-border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-panel {
  width: 274px;
}

.signin-card {
  background-color: #f7f7f7;
  padding: 40px 40px;
  width: 274px;
}

.signin-card input[type=email],
.signin-card input[type=password],
.signin-card input[type=text],
.signin-card input[type=submit],
.signin-card button {
  box-sizing: border-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  padding: 20px 10px;
  position: relative;
  width: 100%;
  z-index: 1;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.signin-card button {
  font-family: Arial, sans-serif;
  font-size: 13px;
  cursor: pointer;
  height: 35px;
  padding: 0;
}

.user-icon {
  background: url(../img/user.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 150px;
  height: 100px;
  margin: 0 auto;
	width: 100px;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

a, a:hover, a:visited {
  color: #427fed;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2.banner {
  color: #555;
  font-family: 'Open Sans', arial;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 15px;

  -webkit-font-smoothing: antialiased;
}

form {
  display: block;
  margin-top: 2em;
}

#login-panel {
  font-size: 14px;
  margin-top: 4em;
  text-align: center;
}

#login-panel h1 {
  font-size: 30px;
}

#map {
  height: 100%;
  width: 100%;
}

#search-bar {
  left: 30px;
  padding: 0;
  position: fixed;
  top: 15px;
  width: 400px;
  z-index: 10;
}

#search-panel {
  padding: 13px 18px 7px 18px;
}

#menu-button {
  background: url(../img/hamburger-icon.png) no-repeat center center;
  background-position: 0 0;
  background-size: 48px 24px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 24px;
  margin-right: 20px;
  min-width: 24px;
  outline: 0;
  width: 24px;
}

#search {
  border: none;
  box-shadow: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  outline: none;
  position: absolute;
  width: 280px;
}

#search-button {
  background: url(../img/search-icon.png) no-repeat center center;
  background-position: 0 0;
  background-size: 72px 24px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  float: right;
  height: 24px;
  min-width: 24px;
  outline: 0;
  width: 24px;
}

#search-button.active {
  background-position: -24px 0;
}

#autocomple-results {

}

ul#results {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul#results.expanded {
  border-top: 1px solid #ddd;
}

ul#results li:hover {
  background-color: #f8f8f8;
}

ul#results li span.place-icon {
  background: url('../img/place-icon.png') no-repeat left top;
  background-size: 20px;
  display: inline-block;
  height: 25px;
  margin: 0 25px 0 15px;
  width: 20px;
}

ul#results li span.place-text {
  cursor: pointer;
  display: inline-block;
  line-height: 34px;
  vertical-align: text-bottom;
  width: calc(100% - 20px - 25px - 15px);
}

ul#results li span.highlight {
  font-weight: bold;
}

ul#results li:not(:first-of-type) span.place-text {
  border-top: 1px solid #eee;
}

#sidebar {
  background-color: white;
  box-shadow: 0 -1px 24px rgba(0, 0, 0, 0.4);
  height: 100%;
  left: -320px;
  position: fixed;
  transition: left 0.6s ease-in-out;
  top: 0;
  width: 320px;
  z-index: 100;

  -webkit-transition: left 0.2s ease-out;
}

#sidebar.show {
  left: 0;
}

#scrim {
  background-color: #333;
  bottom: 0;
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;

  right: 0;
  top: 0;
  z-index: 70;
}

#scrim.visible {
  display: inline;
  opacity: 0.5;
  transition: all 1s ease-in-out;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
